*{
  margin: 0px;
  padding: 0px;
  /* overflow-x: auto; */
}

.stream:hover{
  border-right: 1px solid black ;
  border-left: 1px solid black ;
  border-radius: 10px;
  padding: 3px;
  font-size: larger;
}
.stream{
  transition-duration: 0.5s;
}
 .stream > a{
   text-decoration: none;
 }

 